/* Stili generali */
body {
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    height: 100vh;
}

.active-contact-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ddd;
    border-bottom: 1px solid #0056b3;
}

.active-contact-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.active-contact-name {
    font-weight: bold;
    margin: 0;
    color: #000;
}

/* Stile per la barra laterale dei contatti */
.sidebar {
    width: 300px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.user-contact {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
    margin: 0;
}

.user-icons {
    display: flex;
    gap: 10px;

}

.user-icons i {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;

}

.sidebar-search {
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Stile per ciascun contatto nella barra laterale */
.contact-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Stile per il contatto attivo selezionato */
.contact-item.active-contact {
    background-color: #e6f7ff;
}

/* Stile per l'avatar dei contatti */
.contact-avatar {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

/* Stile per il nome dei contatti */
.contact-info .contact-name {
    font-weight: bold;
}

/* Stile per la sezione della chat */
.chat {
    width: calc(100% - 300px);
    background-image: url(https://i.pinimg.com/originals/a1/19/40/a119409b6f1104f04e6d903f2179e0fb.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* Contenitore per ciascun messaggio */
.message-container {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

/* Stile generico per i messaggi */
.message {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 60%;
    font-size: 0.9em;
}

/* Stile per i messaggi inviati dall'utente */
.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
}

/* Stile per i messaggi ricevuti */
.received {
    background-color: #ffffff;
    align-self: flex-start;
    text-align: left;
}

/* Stile per l'orario dei messaggi */
.message-time {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
    text-align: right;
}

/* Stile per la barra di input dei messaggi */
.chat-footer {
    padding: 10px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Stile per il campo di input nella chat */
.chat-footer input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.chat-footer i {
    cursor: pointer;
    font-size: 20px;
}